/* src/components/SoccerField.css */
.soccer-field-container {
    text-align: center;
    margin: 20px;
}

.soccer-field {
    width: 600px;
    height: 400px;
    background-color: green;
    border: 2px solid white;
    position: relative;
    margin: 0 auto;
}

.player-position {
    color: white;
    font-size: 14px;
    padding: 10px;
    position: absolute;
    /* Adjust the position of the players here */
}

.pitch{
    background-color: #238729;
    width: 590px;
    height: 380px;
    position: relative;
}
.pitch:after{
    content: "";
    border-left: 1px solid white;
    position: absolute;
    top :20px;
    left :295px;
    display:block;
    height:340px;
}

.pitch:before{
    content: "";
    border: 1px solid white;
    position: absolute;
    top :20px;
    left :20px;
    display:block;
    width: 550px;
    height:340px;
}

.center-circle{
    position: absolute;
    top: 145px;
    left: 250px;
    width: 90px;
    height: 90px;
    border: 1px solid white;
    border-radius: 50%;
}
.center-circle:after{
    position: absolute;
    top: 43px;
    left: 43px;
    width: 1px;
    height: 1px;
    background-color:white;
    content:"";
    border:1px solid white;
}

.penalty-area{
    position: absolute;
    height: 140px;
    width: 80px;
    top: 120px;
    border: 1px solid white;
}

.left .penalty-area{
    left: 20px;
    border-left: 0;
}

.right .penalty-area{
    right: 19px;
    border-right: 0;
}

.penalty-area:before{
    position: absolute;
    height: 70px;
    width: 35px;
    top: 35px;
    border: 1px solid white;
    content:"";
}
.left .penalty-area:before{
    left:0px;
    border-left:0;
}
.right .penalty-area:before{
    right:0px;
    border-right:0;
}

.penalty-area:after{
    position: absolute;
    height: 2px;
    width: 2px;
    top: 70px;
    background-color:white;
    content:"";
}
.left .penalty-area:after{
    right:15px;
}
.right .penalty-area:after{
    left:15px;
}

.player{
    position:absolute;
    border-radius:50%;
    width:10px;
    height:10px;
}
.player:after{
    font-size:10px;
    position:absolute;
    left:3px;
}
.home-team .player{
    background:red;
}
.home-team .player1 {
    top: 185px;
    left: 20px;
    background: gray;
}
.home-team .player1:after{
    content:"1";
}
.home-team .player2{
    top:310px;
    left:110px;
}
.home-team .player2:after{
    content:"2";
}
.home-team .player3{
    top:60px;
    left:110px;
}
.home-team .player3:after{
    content:"3";
}
.home-team .player4{
    top:185px;
    left:110px;
}
.home-team .player4:after{
    content:"5";
}
.home-team .player5{
    top:310px;
    left:190px;
}
.home-team .player5:after{
    content:"6";
}
.home-team .player6{
    top:60px;
    left:190px;
}
.home-team .player6:after{
    content:"7";
}
.home-team .player7{
    top:185px;
    left:190px;
}
.home-team .player7:after{
    content:"8";
}
.home-team .player9{
    top:185px;
    left:270px;
}
.home-team .player9:after{
    content:"11";
    left:0px;
}
.visitor-team .player{
    background:blue;
}
.visitor-team .player:after{
    color:white;
}
.visitor-team .player1{
    top:185px;
    right:20px;
    background:cyan;
}
.visitor-team .player1:after{
    content:"1";
    color:red;
}
.visitor-team .player2{
    top:310px;
    right:110px;
}
.visitor-team .player2:after{
    content:"2";
}
.visitor-team .player3{
    top:60px;
    right:110px;
}
.visitor-team .player3:after{
    content:"3";
}
.visitor-team .player4{
    top:185px;
    right:110px;
}
.visitor-team .player4:after{
    content:"5";
}
.visitor-team .player5{
    top:310px;
    right:190px;
}
.visitor-team .player5:after{
    content:"6";
}
.visitor-team .player6{
    top:60px;
    right:190px;
}
.visitor-team .player6:after{
    content:"7";
}
.visitor-team .player7{
    top:185px;
    right:190px;
}
.visitor-team .player7:after{
    content:"8";
}
.visitor-team .player9{
    top:185px;
    right:270px;
}
.visitor-team .player9:after{
    content:"11";
    left:0px;
}
.player{
    animation-duration:5s;
    animation-timing-function:linear;
    animation-delay:2s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-play-state:running;
}
/*.home-team .player.nine{*/
/*    animation-name:nine;*/
/*}*/
@keyframes nine
{
    0%   {left:160px; top:225px;}
    25%  {left:200px; top:265px;}
    50%  {left:200px; top:225px;}
    75%  {left:200px; top:185px;}
    100% {left:160px; top:225px;}
}
/*.home-team .player.eight{*/
/*    animation-name:eight;*/
/*}*/
@keyframes eight
{
    0%   {left:160px; top:145px;}
    25%  {left:200px; top:185px;}
    50%  {left:200px; top:145px;}
    75%  {left:200px; top:105px;}
    100% {left:160px; top:145px;}
}